.alwin-entry {
  width: 664px;
  background-image: url('../../assets/backgrounds/wavy.svg');
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 70px 40px 30px;
  background-size: contain;
}

.alwin-header-div {
  display: flex;
  gap: 4.5rem;
  h3 {
    font-size: 2.3rem;
    color: #ffffff;
    font-family: 'Joan', serif;
  }

  p {
    font-family: 'Joan', serif;
    font-size: 1.5rem;
    color: #ffffff;
  }
}

.alwin-desc {
  margin-top: 50px;
  p {
    font-family: 'Joan', serif;
    font-size: 1.5rem;
    color: #ffffff;
  }
}

.alwin-exp {
  margin-top: 25px;
  p {
    font-family: 'Joan', serif;
    font-size: 1.5rem;
    color: #ffffff;
  }
}

.alwin-logo-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.profile-socials {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  div:hover {
    text-decoration: underline;
  }
}

.profile-socials div p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .alwin-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
  }
  .alwin-header-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .alwin-desc {
    display: none;
  }
  .alwin-exp {
    width: 280px;
  }
  .alwin-logo-controls {
    display: flex;
    flex-direction: column;
  }
}
